<div class="alert mt-3" [ngClass]="{'alert-danger': feedback.feedbackType === 'error', 'alert-success': feedback.feedbackType === 'success'}">
  {{feedback.feedbackmsg}}
</div>

<div *ngIf="isLoadingPage">
  <h1 class="mb-4 text-center">Books Admin</h1>
  <a class="btn btn-success mb-4" (click)="addBook()">+ Add New Book</a>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td class="align-middle">{{ book.id }}</td>
            <td class="align-middle">
              <div class="d-flex align-items-center">
                <img [src]="book.retrievedImage" alt="Book Image" class="img-thumbnail" style="width: 60px;">
                <span>{{ book.name }}</span>
              </div>
            </td>
            <td class="align-middle text-center">
              <button type="button" class="btn btn-primary btn-sm" (click)="viewBook(book.id)">Show Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-viewbook *ngIf="action === 'view'" [book]="selectedBook" (bookDeletedEvent)="refreshData()">
      </app-viewbook>
      <app-addbook *ngIf="action === 'edit' || action === 'add'" [book]="selectedBook" (bookAddedEvent)="refreshData()">
      </app-addbook>
    </div>
  </div>
</div>
